@using PROMPERU.PERUMODA.Web.Resources
<section class="logos">
        <div class="content">
            <div class="organiza">
                <h3>@Global.Organize:</h3>
                <div class="logos">
                    <img src="~/image/promperu.png" alt="Promperú">
                </div>
            </div>
            <div class="coorganizadores">
                <h3>@Global.Co_Organizer:</h3>
                <div class="logos">
                    <img src="~/image/adex.png" alt="ADEX">
                    <img src="~/image/chiolecca.png" alt="Chiolecca Fashion School">
                    <img src="~/image/wgsn.png" alt="WGSN by Ascential">
                    <img src="~/image/colegiatura.png" alt="Colegiatura">
                </div>
            </div>
            <div class="auspiciadores">
                <h3>@Global.Sponsors:</h3>
                <div class="logos">
                    <img src="~/image/bcp.png" alt="Banco de Crédito del Perú">
                    <img src="~/image/centricsmb.png" alt="CentricSMB">
                    <img src="~/image/fedex.png" alt="FedEx">
                    <img src="~/image/nextperience.png" alt="Nextperience">
                </div>
            </div>
        </div>
    </section>

